<!-- templates/transactions.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBank - Transactions</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'home' %}" style:"background-color: darkblue;">MyBank</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'download_statement' %}?statement=statement1.pdf" class="btn btn-primary">
                        Download Statement
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login" style="color: #f0f2f5;">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>All Transactions</h1>
        <ul class="list-group">
            {% for transaction in transactions %}
                <li class="list-group-item">
                    <strong>{{ transaction.account.get_account_type_display }} Account:</strong> {{ transaction.account.account_number }}<br>
                    <strong>{{ transaction.get_transaction_type_display }}:</strong> ${{ transaction.amount }}<br>
                    <strong>Date:</strong> {{ transaction.timestamp }}<br>
                    <strong>Description:</strong> {{ transaction.description }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>